textarea {
    width: 100%;
    margin: 0;
    padding: 10px;
    font-size: 20px;
    resize: none;
}

.disabledButton {
    cursor: not-allowed;
}

.taakdone {
    opacity: 0.75;
}

.done {
    text-decoration: line-through;
}